body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	padding-top: 60px;
    padding-bottom: 40px;
	background-color: #EFEFEF !important;
}

ul, ol, dl, li {list-style: none outside none;}

footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
}

#Container { padding: 0 0.5%; }

div.topmenu 
{
	top: 0px;
	position: fixed;
	right: 0px;
	left: 0px;
	z-index: 1030;
	background-color: #009999;
	padding: 0 20px;
}
div.topmenu ul { margin: 0px 10px 0px 0px; }
div.topmenu ul > li
{
float: left;
line-height: 20px;
padding: 10px 15px;
}
div.topmenu ul > li:hover{ background-color: #33cccc; }
div.topmenu ul > li.active > a { text-transform: uppercase; }
div.topmenu ul > li > a {
color: #ffffff;
text-decoration: none;
}
#sidebar > div.one_s, #sidebar > div > ul { margin: 0px; }
td#sidebar { width: 300px; padding: 0px 10px 0px 3px;}
td#content, td#sidebar { vertical-align: top; }
#sidebar  p.name_s 
{
padding: 5px 0 5px 0;
text-align: center;
font-size: 12pt;
border-bottom: 1px solid rgb(220, 220, 223);
color: rgb(102, 102, 102);
}
#sidebar > div
{
padding: 0 20px 10px 20px;
margin: 10px auto;
border-radius: 10px 10px 5px 5px;
background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(230, 230, 230) 100%) repeat scroll 0% 0% transparent;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

td#content > .categories
{
padding: 0 0 5px 0;
box-shadow: 0px 2px 3px rgb(102, 102, 102);
background: linear-gradient(to bottom, rgb(235, 237, 240) 0%, rgb(240, 241, 242) 100%) repeat scroll 0% 0% transparent;
}
td#content > .categories > .c_name 
{
padding: 5px 10px;
background: linear-gradient(to bottom, #009999 0%, #006363 100%) repeat scroll 0% 0% transparent;
color: white;
}
.sidebar-nav { padding: 9px 0; }