.categories {
    padding: 0;
    margin: 0;
}

.copyright {
    padding: 0;
    margin: 0;
}

.copyright li {
    width: 100px;
    color: #666666;
    float: left;
    list-style: none;
    font-family: Arial, serif;
    font-size: 7pt;
}